:root {
  --color-primary: var(--color-tertiary); /* Update color palette using color theory */
  --color-secondary: #4a816d; 
  --color-tertiary: #273b46; 
  --color-accent: #ecdfd7;
  --color-neutral: #7b8e97;
}
