/* Small, medium, and large margin classes for consistent spacing between elements */
.margin-small {
    margin: 8px;
}

.margin-medium {
    margin: 16px;
}

.margin-large {
    margin: 24px;
}

/* Small, medium, and large padding classes for consistent spacing inside elements */
.padding-small {
    padding: 8px;
}

.padding-medium {
    padding: 16px;
}

.padding-large {
    padding: 24px;
}

/* Flexbox utilities for layout alignment and centering */
.flex {
    display: flex;
}

.center-flex {
    justify-content: center;
    align-items: center;
}

/* Simple fade-in animation for elements that should gradually appear */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* General styles for the whole page, including layout, centering, and background */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        var(--color-tertiary) 50%,
        var(--color-secondary) 50%
    );
}

/* Styles for the main content box that contains the primary content of the page */
#box {
    max-height: 80vh;
    background-color: var(--color-secondary);
    border-radius: 20px;
    border: 6px solid var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
    padding: 20px;
    margin: 0 auto;
}

/* Styles for the main title text inside the content box */
#box-text {
    font-size: clamp(2em, 4vw, 3em);
    margin-bottom: 2px;
    color: var(--color-tertiary);
}

/* Styles for the subtitle text in the main content box */
#subtitle {
    font-size: clamp(1em, 2vw, 1.5em);
    font-style: italic;
    margin-bottom: 15px;
    color: var(--color-tertiary);
    text-align: center;
}

/* Styles for the input fields within the credentials section */
#credentials {
    display: flex;
    flex-direction: column;
}

#credentials input {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--color-tertiary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
    color: var(--color-accent);
}

#credentials input::placeholder {
    font-size: 0.8em;
    color: var(--color-neutral);
    transition: color 0.3s ease;
}

#credentials input:hover::placeholder,
#credentials input:focus::placeholder {
    color: transparent;
}

#credentials input:focus {
    border-color: var(--color-accent);
}

/* Styles for the action buttons in the form's actions section */
#actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#actions button {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
    color: var(--color-neutral);
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-tertiary);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#actions button:hover {
    color: var(--color-accent);
    background-color: var(--color-tertiary);
}

.footer-style {
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Styles for setting the size of the GitHub icon in the footer */
.github-icon {
    width: 24px;
    height: 24px;
}

/* Styles for the main container to ensure proper spacing and box-sizing */
.container {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Media queries to hide elements based on screen height and width */

/* Hide footer, subtitle if the screen height is less than 550px */
@media (max-height: 550px) {
    .footer-style,
    #subtitle {
        display: none;
    }
}

/* Hide action buttons if the screen height is less than 350px */
@media (max-height: 350px) {
    .container #actions {
        display: none;
    }
}

/* Hide title if the screen height is less than 200px */
@media (max-height: 200px) {
    #box-text {
        display: none;
    }
}

/* Hide subtitle if the screen width is less than 400px */
@media (max-width: 400px) {
    #subtitle {
        display: none;
    }
}
