
.bg-background {
    background-color: $background-light;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, .3) 80%, rgba(0, 0, 0, .4) 100%), $background-light;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}