@import "shared-styles"; // Import shared styles

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    max-width: 20vw;  // Adjusted max-width
    max-height: 30vh; // Adjusted max-height
}