.text-center {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    max-width: 20vw;  // Adjusted max-width
    max-height: 30vh; // Adjusted max-height
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: transparent;
}

.icon {
    width: 20px;
    height: 20px;
    transition: filter 0.3s ease;

    &:hover {
        filter: invert(34%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(90%) contrast(90%);
    }
}