html, body {
    overscroll-behavior: none;
}

body {
    background-color: $light;
}

.navbar {
    &.navbar-dark {
        background-color: $primary;
    }
}

.btn {
    background: transparent;
}

.btn-primary {
    color: $primary;

    &:hover {
        background: $primary-muted;
    }
}

.btn-secondary {
    border: 1px solid $dark;
    color: $dark;

    &:hover {
        background: $dark-muted;
    }
}

.form-control {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $dark;
    border-radius: 0px;

    &:focus {
        box-shadow: none;
        background-color: transparent;
    }
}

.form-control::placeholder {
    color: $dark-muted;
}

.form-control:focus::placeholder {
    color: transparent;
}

.icon-large {
    font-size: 2rem;
}
