h1, h2 {
    color: $primary;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(3rem, 10vw, 5rem);  
}

h2 {
    opacity: 0.6; // Muted
    font-style: italic;
    font-size: clamp(1rem, 5vw, 2rem); 
}
